*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: tomato;
  font-family: sans-serif;
}
.demo{
  height: 20px;
  width: 100%;
  background-color:#4183d7;
}
.quiz-container{
   width: 1000px;
   height: 600px;
   background-color:#FFE338;
   position: relative;
   left: 180px;
   top: 50px;
   border-radius: 5px;
}
.quiz-header{
  width: 880px;
  height: 520px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%,-50%);
  box-shadow: 1px 12px 30px 1px black;
}

  ul li{
 margin: 20px 0px 0px 55px;
}
h3{
  margin: 25px 0px 0px 55px;
  background-color: #e4f1fe;
  font-family: sans-serif;
  color:#59abe3;
  width: 90%;
}

ul{
  list-style-type: none;
}
ul li{
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
}
ul li label{
  cursor: pointer;
}
button{
  background-color: #C3D6B5;
  color: red;
  border: none;
  display: block;
  width: 20%;
  margin-top: 40px;
  height: 60px;
  margin-left: 30px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  padding: 7px;
  border-radius: 5px;
}
.demo1{
color: red;
font-size: 50px;
}
.demo2{
color: green;
font-size: 50px;
}
.demo3{
color: red;
font-size: 50px;
}
.demo4{
color: red;
font-size: 50px;
}
